<h2>Редактирование рецепта</h2>
<form role="form" ng-submit="commit()">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="recipe.name" placeholder="Название"/>
    </div>
    <div class="form-group">
        <textarea class="form-control" ng-model="recipe.contents"></textarea>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ингредиенты</h3>
        </div>
        <div class="panel-body">
            <span class="label label-primary tag" ng-repeat="ingredient in recipe.ingredients" ng-controller="IngredientEditor">
                <i class="glyphicon glyphicon-tag"></i>
                <span ng-hide="ingredient.editable">
                    {{ingredient.name}}
                </span>
                <input class="tag-input" type="text" ng-show="ingredient.editable" ng-model="ingredient.name"/>
                <i class="glyphicon glyphicon-ok control" ng-show="ingredient.editable" ng-click="disableEditor()"></i>
                <i class="glyphicon glyphicon-remove control" ng-click="removeIngredient(ingredient)"></i>
            </span>
            <span class="label label-success tag">
                <i class="glyphicon glyphicon-plus control" ng-click="addIngredient()"></i>
            </span>
        </div>
    </div>
    <h2>Заметки</h2>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="note in recipe.notes">
            <div ng-controller="NoteEditor">
            <div ng-hide="note.editable">
                {{note.contents}}
                <div class="pull-right">
                    <i class="glyphicon glyphicon-edit control" ng-click="enableEditor()"></i>
                    <i class="glyphicon glyphicon-remove control" ng-click="removeNote(note)"></i>
                </div>
            </div>
            <div ng-show="note.editable">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="editable.contents"/>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary" ng-click="saveEditor()">Сохранить</button>
                        <button type="button" class="btn btn-default" ng-click="discardEditor()">Отмена</button>
                    </span>
                </div>
            </div>
            </div>
        </li>
        <li class="list-group-item">
            <button type="button" class="btn btn-default btn-sm" ng-click="addNote()">Добавить заметку</button>
        </li>
    </ul>
    <button type="button" class="btn btn-default" ng-click="back()">Назад</button>
    <button type="button" class="btn btn-danger" ng-click="remove()" ng-show="recipe.id">Удалить</button>
    <button type="submit" class="btn btn-primary" id="submit-button">Сохранить</button>
</form>